---
author:
  name: Support
  email: support@linode.com
description: "When Linode support has trouble verifying the identity of a new user or account, they may ask for additional verification. This guide shows how to respond to that request easily."
keywords: ["accounts", "passwords", "linode manager", "manager", "idv", "id verification", "account verification"]
license: '[CC BY-ND 4.0](https://creativecommons.org/licenses/by-nd/4.0)'
modified: 2017-12-06
modified_by:
  name: Linode
published: 2017-12-06
title: How to Respond to an ID Verification Request
---

## Why Am I Being Asked to Verify My ID?

To help avoid spam and compromised accounts, Linode may sometimes ask a user to verify their personal and credit card information.

A request to verify your ID does not necessarily mean that your account has been compromised.

These steps are only required if a member of the Linode Support team reaches out to you directly from the email support@linode.com.

**DO NOT SEND ID VERIFICATION INFORMATION OR IMAGES THROUGH EMAIL**

To avoid account suspension, a response that includes all the requested information is required within 24 hours.

## Government-Issued Photo ID

[![Example of a Government-Issued Photo ID](/docs/assets/platform/idv/photo-id-small.png)](/docs/assets/platform/idv/photo-id-large.png "Example of a Government-Issued Photo ID")

**What we look for:**

*  Account name matches name on ID
*  Address or location match account details

## Credit Card Verification

[![Example of a Credit Card with Final Six (6) Digits Hidden] (/docs/assets/platform/idv/credit-card-small.png)](/docs/assets/platform/idv/credit-card-large.png "Example of a Credit Card with Final Six Digits Hidden")

{{< note >}}
Remember to hide most of your credit card number except for the final six (6) digits
{{< /note >}}

**What we look for:**

*  Cardholder name and business name match Linode account information
*  Last six (6) digits match credit card used to sign up

## How to Submit Verification

1.  In the email "Linode ID Verification", click the link below the "You can upload these credentials..." section.

2.  On the Submit Credentials page, click **Browse** and select each image for uploading. Press **Submit** after each image to upload:

    *  Credit card front (with all but the last six (6) digits hidden)
    *  Credit card back
    *  ID front
    *  ID back

3.  Once all four (4) images have been submitted, a member of Linode Support will review the documents and contact you to verify the status of your account.

    *  Up to five (5) images can be submitted.

4.  Close the Submit Credentials window.

If your account has been activated, you will automatically receive a "Linode Account Activation" email.
