__pycache__/
.pytest_cache/
public/
.cache/
.idea/
.scrapy
.pynb_checkpoints
.env
.venv

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.dbi

*.7z
*.dmg

*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite
*.swp
*~
\#*\#
*.elc
.\#*
*.sublime-workspace
node_modules
public/
resources/_gen/assets
yarn.lock
search_index/
resources/_gen/assets
hugo_stats.json
.hugo_build.lock
redirects.conf
scripts/duplicates.csv
algolia_out/
draft
draftFolder
