{{ define "main" }}
<section class="primary extra-space" style="padding-bottom:0;margin-bottom:0;">
    <div class="container">
        <div class="row-content">
            <div class="col-sm-12 text-center">
                <h1 class="contribute">Contribute to our Tutorials</h1>
                <img class="img-responsive" src="{{ "media/images/Contribute_Tutorials.png" | relURL }}">
                <p class="lead text-center subtitle">
                    Get paid up to $300 per guide
                </p>
            </div>
        </div>
    </div>
</section>

<section class="white extra-space bottom doc">
    <div class="container">
        <div class="row-tiles">
            <div class="col-sm-10 col-sm-offset-1">
                <p>
                    Linode is looking for awesome technical writers and subject matter experts to contribute to our comprehensive selection of tutorials about Linux, Linode and cloud infrastructure.
                    If you have technical knowledge and the ability to explain things clearly, our in-house editors will help you polish and publish your guide.
                </p>

                <p>
                  If you possess expert knowledge and technical writing know-how and would like to be considered as a prospective freelance technical writer for a future topic, please complete the form below.
                </p>
                
<!--- Bounty program paused
            <div class="row">
                <div class="col-md-12">
                    <h4 class="current">Current Topics</h4>
                </div>

                {{ .Content }}
            </div>
--->
            <div class="container">
                <div class="row-content">
                    <div class="col-sm-12 hubspot-container">
                        <div class="hubspot-form" id="hubspot-form">
                            <h3 class="sample-header">Writing Sample</h3>
                            <div class="hubspot-form-body">Oops, something went wrong. Please refresh the page to view this form.</div>
                            <!--[if lte IE 8]>
                            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                            <![endif]-->
                            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                            <script>
                            if (hbspt) {
                              hbspt.forms.create({
                                  css: '',
                                  portalId: '2165147',
                                  formId: 'e6451fbb-012a-4c4a-9082-e34116d448dd',
                                  redirectUrl: 'https://www.linode.com/docs/contribute/thankyou',
                                  target: ".hubspot-form-body"
                              });
                            }
                            </script>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4 style="margin-top:20px;padding-top:0;">Writing Sample Criteria</h4>
                    <br>
                    <p>
                      Your writing sample should indicate your capability to draft technical guides that address Linux, Linode, and cloud infrastructure topics, similar to those found in our library. Evaluation of your sample will be based on knowledge of the selected topic, depth of content, format, and–because we publish only in English–mastery of the language.
                      We will negotiate topics and rates with subject matter experts. Please do not recommend specific topics at this time, as they will not be accepted.
                    </p>
            </div>
        </div>
    </div>
</section>
{{ end }}
