<blockquote class="hidden-content">
    <span>
        <!-- arrow-down-circle.svg - Feather icon set | MIT License | https://feathericons.com -->
        <img class="toggle-hidden-content-icon" src="{{ relURL "media/images/arrow-down-circle.svg" }}" />
        <strong class="callout-title">
            {{ default "Disclosure Note" (.Get 0) }}
        </strong>
    </span>
    <div class="hidden-content-body"><div class="height-preservation-wrapper">{{ .Inner | markdownify }}</div></div>
</blockquote>