<section class="neutral some-space">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h3>Write for Linode.</h3>
				<p class="lead">We're always expanding our docs. If you like to help people, can write, and have expertise in a Linux or cloud infrastructure topic, learn how you can <a href="https://www.linode.com/lp/write-for-linode/?utm_source=library&utm_medium=contribute-link&utm_campaign=write-for-linode">contribute</a> to our library.</p>
			</div>
		</div>
	</div>
</section>
