{{ with .Params.dedicated_cpu_link }}
<blockquote class="dedicated_cpu_link">
  <strong class="callout-title">Dedicated CPU instances are available!</strong>
  <div>Linode's Dedicated CPU instances are ideal for CPU-intensive workloads like those discussed in this guide. To learn more about Dedicated CPU, read our <a href="https://blog.linode.com/2019/02/05/introducing-linode-dedicated-cpu-instances?utm_source=library&utm_medium=banner&utm_campaign=dedicated_cpu">blog post</a>. To upgrade an existing Linode to a Dedicated CPU instance, review the <a href="/docs/platform/disk-images/resizing-a-linode/">Resizing a Linode</a> guide.</div>
</blockquote>
{{ end }}