<section id="pre-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <span>Get started in the Linode Cloud today.</span>
      </div>
      <div class="col-sm-5 pad-xs">
        <a id="btn-signup-bottom" class="btn btn-lg btn-full btn-green" href="https://manager.linode.com/session/signup">Create an Account</a>
      </div>
    </div>
  </div>
</section>

<section class="dark">
  <div class="container">

    <div class="row">
      <div class="footer-col">
        <h5><a href="https://www.linode.com/linodes">Overview</a></h5>
        <ul>
          <li><a href="https://www.linode.com/pricing">Plans &amp; Pricing</a></li>
          <li><a href="https://www.linode.com/linodes">Features</a></li>
          <li><a href="https://www.linode.com/addons">Add-Ons</a></li>
          <li><a href="https://www.linode.com/managed">Managed</a></li>
          <li><a href="https://www.linode.com/professional-services">Professional Services</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h5><a href="{{ absURL "" }}">Resources</a></h5>
        <ul>
          <li><a href="{{ absURL "" }}">Guides &amp; Tutorials</a></li>
          <li><a href="https://www.linode.com/speedtest">Speed Test</a></li>
          <li><a href="https://forum.linode.com/">Forum</a></li>
          <li><a href="https://www.linode.com/chat">Chat</a></li>
          <li><a href="http://status.linode.com/">System Status</a></li>
        </ul>
      </div>


      <div class="footer-col">
        <h5><a href="https://www.linode.com/about">Company</a></h5>
        <ul>
          <li><a href="https://www.linode.com/about">About Us</a></li>
          <li><a href="https://blog.linode.com">Blog</a></li>
          <li><a href="https://www.linode.com/press">Press</a></li>
          <li><a href="https://www.linode.com/referrals">Referral System</a></li>
          <li><a href="https://www.linode.com/careers">Careers</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h5><a href="https://www.linode.com/contact">Contact Us</a></h5>
        <ul>
          <li><a href="tel:+18554546633">855-4-LINODE</a></li>
          <li><a href="tel:+18554546633">(855-454-6633)</a></li>
          <li><a href="tel:+16093807100">Intl.: +1 609-380-7100</a></li>
          <li><a href="mailto:support@linode.com">Email us</a></li>
          <li>
            <br />
            <a target="_blank" href="https://facebook.com/linode"><i class="fa fa-facebook-square"></i></a>
            <a target="_blank" href="https://twitter.com/linode"><i class="fa fa-twitter-square"></i></a>
            <a target="_blank" href="https://plus.google.com/+linode/"><i class="fa fa-google-plus-square"></i></a>
            <a target="_blank" href="https://linkedin.com/company/linode"><i class="fa fa-linkedin-square"></i></a>
            <a target="_blank" href="https://github.com/linode/"><i class="fa fa-github-square"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="dark-moar">
  <div class="container">
    <div id="footer-copyright" class="row">
      <div class="col text-center">
        &copy; {{ now.Year }} Linode, LLC
      </div>

      <div class="col text-center">
        <a href="https://www.linode.com/tos">Terms of Service</a>
      </div>

      <div class="col text-center">
        <a href="https://www.linode.com/privacy">Privacy Policy</a>
      </div>

      <div class="col text-center">
        <a href="https://www.linode.com/security">Security</a>
      </div>

      <div class="col text-center">
        <a href="https://www.linode.com/compliance">Standards &amp; Compliance</a>
      </div>
    </div>
  </div>
</section>
