<div markdown="0" class="library-signup">
  <form action="//linode.us7.list-manage.com/subscribe/post?u=f9b54ed743e1629877750e3f4&amp;id=68bafea72a&SIGNUP=library-website"
    method="post" class="email-signup" target="_blank" novalidate="">
    <i class="fa fa-envelope"></i>
    <h6>Monthly Guides Update</h6>
    <input name="EMAIL" type="email" class="form-control input-sm"
    placeholder="Email address" required="" />
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_f9b54ed743e1629877750e3f4_68bafea72a"
      tabindex="-1" value="">
    </div>
    <div style="display:none">
      <input type="checkbox" value="4" name="group[13][4]"
      id="mce-group[13]-13-0" checked="">
    </div>
    <button type="submit" class="btn btn-blue btn-sm btn-border email-signup" value="Subscribe"
    name="subscribe" id="mc-embedded-subscribe">Sign Up</button>
  </form>
</div>