{{ if .Params.os }}
<script type="text/javascript">
$(document).ready(function(){
    //detect os and display corresponding tab by default
    if (navigator.appVersion.indexOf("Mac")!=-1) {
        $('#os-tabs').find('a').removeClass('current');
        $('#mac').addClass('current');
        toggleMac();
    }
    if (navigator.appVersion.indexOf("Linux")!=-1 || navigator.appVersion.indexOf("X11")!=-1) {
        $('#os-tabs').find('a').removeClass('current');
        $('#linux').addClass('current');
        toggleLinux();
    }
    if (navigator.appVersion.indexOf("Win")!=-1) {
        $('#os-tabs').find('a').removeClass('current');
        $('#windows').addClass('current');
        toggleWindows();
    }

    //handle click event for os-tab buttons
    $('#os-tabs').on('click', 'a', function(){
        $('#os-tabs').find('a').removeClass('current');
        $(this).addClass('current');
        if($(this).is('#mac')){ toggleMac(); }
        if($(this).is('#linux')){ toggleLinux(); }
        if($(this).is('#windows')){ toggleWindows(); }
    });
    function toggleMac(){
        $(".macinstall").show();
        $(".linuxinstall").hide();
        $(".windowsinstall").hide();
    }
    function toggleLinux(){
        $(".linuxinstall").show();
        $(".macinstall").hide();
        $(".windowsinstall").hide();
    }
    function toggleWindows(){
        $(".windowsinstall").show();
        $(".macinstall").hide();
        $(".linuxinstall").hide();
    }
});
</script>

<div id="os-tabs">
{{ if in .Params.os "mac" }}
    <a id="mac" role="button" class="current btn btn-primary btn-lg active" aria-pressed="true"><i class="fa fa-apple fa-lg" aria-hidden="true"><span>&nbsp;Mac</span></i></a>
{{ if in .Params.os "linux" }}
    <a id="linux" role="button" class="btn btn-primary btn-lg active" aria-pressed="true"><i class="fa fa-linux fa-lg" aria-hidden="true"><span>&nbsp;Linux</span></i></a>
{{ end }}
{{ if in .Params.os "windows" }}
    <a id="windows" role="button" class="btn btn-primary btn-lg active" aria-pressed="true"><i class="fa fa-windows fa-lg" aria-hidden="true"><span>&nbsp;Windows</span></i></a>
{{ end }}
</div>
{{ end }}
{{ end }}
