<div markdown="0" class="signup-top">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <span>
                {{ if and ($.Params.promo_code) ($.Params.promo_code_amount) }}
                Use promo code <strong>{{ $.Params.promo_code }}</strong> for ${{ $.Params.promo_code_amount }} credit on a new account.
                {{ else }}
                Use promo code <strong>DOCS10</strong> for $10 credit on a new account.
                {{ end }}
            </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <form action="https://login.linode.com/signup">
                <button type="submit" target="_blank" class="btn btn-blue btn-sm btn-border">Try this Guide</button>
            </form>
        </div>
    </div>
</div>
