<div markdown="0" class="signup-top">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <span>
                {{ if and ($.Params.promo_code) ($.Params.promo_code_amount) }}
                Use promo code <strong>{{ $.Params.promo_code }}</strong> for ${{ $.Params.promo_code_amount }} credit on <a href="https://login.linode.com/signup?promo={{ $.Params.promo_code }}">a new account</a>.
                {{ else }}
                Try this guide out by <strong><a href="https://login.linode.com/signup?promo=DOCS20TV12P5">signing up for a Linode account</a></strong> with a $20 credit.
		        {{ end }}
            </span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <form action="https://login.linode.com/signup">
                {{ if and ($.Params.promo_code) ($.Params.promo_code_amount) }}
                <input type="hidden" name="promo" value="{{ $.Params.promo_code }}" />
                {{ else }}
                <input type="hidden" name="promo" value="DOCS20TV12P5" />
		        {{ end }}
                <button type="submit" target="_blank" class="btn btn-blue btn-sm btn-border">Sign Up Here!</button>
            </form>
        </div>
    </div>
</div>
