<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchLabel" id="ds-search-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div id="ds-search-input">
				<div class="input-group col-md-12">
					<input id="ds-search" type="text" class="form-control input-lg" placeholder="Search" />
					<span class="input-group-btn">
						<button class="btn btn-info btn-lg" id="ds-search-btn-modal" type="button">
						<i class="glyphicon glyphicon-search"></i>
						</button>
					</span>
				</div>
				<ul class="list-group" id="ds-search-list">
				</ul>
			</div>
		</div>
	</div>
</div>