<div class="sub-menu-wrapper">
  <h1 class="sub-menu-wrapper__title">
    <a href="https://www.linode.com/community/">Community</a>
  </h1>
  <ul class="sub-menu">
    <li><a href="https://www.linode.com/community/questions">Questions</a></li>
    <li><a class="active" href="{{ .Site.BaseURL }}">Guides &amp; Tutorials</a></li>
    <li><a href="https://www.linode.com/stackscripts">StackScripts</a></li>
    <li><a href="https://github.com/linode">GitHub</a></li>
    <li><a href="https://www.linode.com/events">Events</a></li>
  </ul>
</div>